<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/home.css" />
    
    <title>ToyHub</title>
  </head>
  <body>

    <!-- Seccion del HEADER -->
    <header class="main-header">
      <div class="header-left">
        <button class="btn btn-light menu-btn" onclick="toggleMenu()">
          <img src="/public/images/logos/boton-menu.png" alt="Menú">
        </button>
        <div class="menu-content">
          <!-- Contenido del menu desplegable con secciones -->
          <a href="#section1">Sección 1</a>
          <a href="#section2">Sección 2</a>
          <a href="#section3">Sección 3</a>
        </div>
      </div>
      <div class="header-center">
        <img src="/public/images/logo_toyhub.jpg" alt="Logo de ToyHub" />
      </div>
      <div class="header-right">
        <!-- Contenedor para los iconos de usuario y carrito -->
        <div class="user-cart-container">
          <div class="user-icon" onclick="handleUserClick()">
            <img src="/public/images/logos/user-icon.png" alt="Usuario">
          </div>
          <div class="cart-icon" onclick="handleCartClick()">
            <img src="/public/images/logos/cart-outline.png" alt="Carrito">
          </div>
        </div>
      </div>
      <!-- Contenedor para la barra de busqueda -->
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="Buscar producto, marca, categoria..." class="form-control search-input">
          <button type="button" class="btn btn-primary search-button">
            <img src="/public/images/logos/search-icon.png" alt="Buscar">
          </button>
        </div>
      </div>
    </header>

  <!-- Seccion del MAIN -->
    <main class="main-home">
      <section class="slider-container">
        <ul class="slider">
          <li id="slide1">
            <div class="slide-text">
              <h1>¡DISFRUTA DE LAS MEJORES OFERTAS!</h1>
            </div>
            <img
              src="/public/images/slider-images/las-mejores-ofertas.webp"
              alt="Imagen 1"
            />
          </li>
          <li id="slide2">
            <div class="slide-text">
              <h1>FIGURAS DE COLECCION ¡UNICAS!</h1>
            </div>
            <img
              src="/public/images/slider-images/figuras-coleccionables-y-únicas.webp"
              alt="Imagen 2"
            />
          </li>
          <li id="slide3">
            <div class="slide-text">
              <h1>LAS MEJORES MARCAS</h1>
            </div>
            <img
              src="/public/images/slider-images/los-mejores-muñecos.webp"
              alt="Imagen 3"
            />
          </li>
        </ul>
  
        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
        </ul>
      </section>
      <section class="services-container">
        <div class="service">
          <i class="fa-solid fa-truck fa-2xl"></i>
          <div class="service-text">
            <p>Envíos GRATIS a todo el país</p>
          </div>
        </div>
        <div class="service">
          <i class="fa-solid fa-credit-card fa-2xl"></i>
          <div class="service-text">
            <p>Aceptamos muchos medios de pago</p>
          </div>
        </div>
        <div class="service">
          <i class="fa-solid fa-calendar-days fa-2xl"></i>
          <div class="service-text">
            <p>Pagos en 12 y hasta en 18 cuotas</p>
          </div>
        </div>
      </section>
      <section class="products-container">
        <h2 class="title">Te van a encantar</h2>
        <div class="products-list">
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/peluche-de-mickey-y-minnie.webp"
                alt="imagen de peluche de Mickey y Minnie"
              />
              <div class="product-info">
                <h3 class="name">Peluches de Mickey y Minnie</h3>
                <p class="price"><strong>ARS</strong>$3.807,88</p>
                <p class="dues">3 cuotas de $1.269,29</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Sanrio-Cinnamoroll-mu-eco-de-peluche-de-gran-tama-o-para-ni-os-y-ni-as.jpg_.webp"
                alt="imagen de Sanrio Cinnamoroll-muñeco de peluche de gran tamaño para niños y niñas"
              />
              <div class="product-info">
                <h3 class="name">Sanrio Cinnamoroll-muñeco de peluche</h3>
                <p class="price"><strong>ARS</strong>$9,334.65</p>
                <p class="dues">4 cuotas de $2.333,66</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/p1.webp"
                alt="imagen de peluche de Sullivan - Disney"
              />
              <div class="product-info">
                <h3 class="name">Peluche de Sullivan - Disney</h3>
                <p class="price"><strong>ARS</strong>$8,358.63</p>
                <p class="dues">4 cuotas de $1.393,10</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Figuras-de-acci-n-de-Marvel-Black-Panther-nueva-animaci-n-perif-rica-articulaciones-de-dibujos.jpg_.webp"
                alt="imagen de Figura de acción de Marvel Black Panther nueva animación periférica articulaciones de dibujos"
              />
              <div class="product-info">
                <h3 class="name">Figura de acción de Marvel Black Panther</h3>
                <p class="price"><strong>ARS</strong>$12,063.63</p>
                <p class="dues">6 cuotas de $2.010,60</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Banpresto-figura-de-acci-n-de-One-Piece-juguete-de-Anime-Roronoa-Zoro-tres-cuchillos-de.jpg_640x640.jpg_.webp"
                alt="imagen de Figura de acción de One Piece juguete de Anime Roronoa Zoro tres cuchillos de"
              />
              <div class="product-info">
                <h3 class="name">Figura de acción de Roronoa Zoro</h3>
                <p class="price"><strong>ARS</strong>$2,185.73</p>
                <p class="dues">2 cuotas de $1.092,86</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Hasbro-Frozen-2-Hair-Salon-Doll-Series-Elsa-Anna-Play-House-Toys-E6950-figuras-de-acci.jpg_.webp"
                alt="imagen de Figuras de acción de Frozen 2 Hair Salon Doll Series Elsa Anna Play House Toys E6950"
              />
              <div class="product-info">
                <h3 class="name">Princesas Frozen de Disney</h3>
                <p class="price"><strong>ARS</strong>$18,867.94</p>
                <p class="dues">6 cuotas de $3.144,65</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Figura-DE-ACCI-N-DE-KAngel-de-desfile-emergente-modelo-de-coleccion.webp"
                alt="imagen de Figura DE ACCIÓN DE KAngel de desfile emergente modelo de colección"
              />
              <div class="product-info">
                <h3 class="name">Figura de accion de KAngel</h3>
                <p class="price"><strong>ARS</strong>$401.27</p>
                <p class="dues">2 cuotas de $200,63</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Trajes-de-mu-ecas-de-43-cm-para-mu-ecas-de-17-pulgadas-mono-de-mono.jpg_.webp"
                alt="imagen de Trajes de muñecas de 43 cm para muñecas de 17 pulgadas mono de mono"
              />
              <div class="product-info">
                <h3 class="name">Muñeca vestida de Stitch</h3>
                <p class="price"><strong>ARS</strong>$1,630.75</p>
                <p class="dues">2 cuotas de $815,37</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/Guardianes-de-la-galaxia-cohete-mapache-anime-perif-rico-kawaii-lindo-dibujos-animados-bobblehead-mu-eca.jpg_.webp"
                alt="imagen de Guardianes de la galaxia cohete mapache anime periférico kawaii lindo dibujos animados bobblehead muñeca"
              />
              <div class="product-info">
                <h3 class="name">Funko-Pop de rocket de los vengadores</h3>
                <p class="price"><strong>ARS</strong>$36,605.86</p>
                <p class="dues">12 cuotas de $3.050,48</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/p2.webp"
                alt="imagen de peluche pou"
              />
              <div class="product-info">
                <h3 class="name">Peluche Pou</h3>
                <p class="price"><strong>ARS</strong>$818.91</p>
                <p class="dues">2 cuotas de $407,95</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/p3.webp"
                alt="imagen de Puella Magic"
              />
              <div class="product-info">
                <h3 class="name">Puella Magi Madoka Magic Girl</h3>
                <p class="price"><strong>ARS</strong>$57,266.38</p>
                <p class="dues">18 cuotas de $3.181,46</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
          <div class="product">
            <a class="product-link" href="#">
              <img
                src="/public/images/products/p4.webp"
                alt="imagen de Figura de acción de Superman"
              />
              <div class="product-info">
                <h3 class="name">Figura de acción de Superman</h3>
                <p class="price"><strong>ARS</strong>$6,547.59</p>
                <p class="dues">3 cuotas de $2.182,53</p>
              </div>
              <div class="product-button">
                <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          </div>
        </div>
        <button class="view-more-button">VER MAS</button>
      </section>
      <section class="sponsors-container">
          <h2 class="title">Nuestras marcas</h2>
          <div class="sponsor-list">
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-sega.svg" alt="logo-sega">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-bandai.svg" alt="logo-bandai">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-banpresto.svg" alt="logo-banpresto">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-disney.svg" alt="logo-disney">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-hasbro.svg" alt="logo-hasbro">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-marvel.svg" alt="logo-marvel">
            </div>
            <div class="sponsor">
              <img class="sponsor-image" src="/public/images/sponsors/logo-megaHouse.svg" alt="logo-megaHouse">
            </div>
          </div>
      </section>
    </main>

    <!-- Seccion del FOOTER -->
    <footer>
      <div class="footer">
        <!-- Contactanos -->
        <div class="contact-container">
            <div class="contact-title">Contactanos</div>
            <div class="email-info">
                <div class="email-icon">
                    <img src="/public/images/logos/mail-outline.png" alt="Correo">     
                  </div>
                <div class="email-text">toyHub@hotmail.com</div>
            </div>
            <div class="phone-info">
                <div class="phone-icon">
                    <img src="/public/images/logos/logo-whatsaap.png" alt="WhatsApp">
                </div>
                <div class="phone-text">0800-555-555-5</div>
            </div>
        </div>

        <!-- Marcas -->
        <div class="brands-container">
            <div class="brands-title">Marcas</div>
            <div class="brands-text">Sega-Bandai-Banpresto-QPosket-Disney-<br/>MegaHouse-Marvel</div>
        </div>

        <!-- Informacion -->
        <div class="info-container">
            <div class="info-title">Informacion</div>
            <div class="info-text">Términos y Condiciones<br/>Políticas de Privacidad<br/>Políticas de Envío<br/>Sucursales</div>
        </div>

        <!-- Servicio al Cliente -->
        <div class="customer-service-container">
            <div class="customer-service-title">Servicio al Cliente</div>
            <div class="customer-service-text">Preguntas Frecuentes<br/>Cambios y Devoluciones<br/>Centro de Ayuda</div>
        </div>

        <!-- Siguenos en -->
        <div class="follow-container">
            <div class="follow-title">Siguenos en</div>
            <div class="social-icons">
                <img src="/public/images/logos/logo-twitter.png" alt="Twitter">
                <img src="/public/images/logos/logo-facebook.png" alt="Facebook">
                <img src="/public/images/logos/logo-instagram.png" alt="Instagram">
                <img src="/public/images/logos/logo-linkedin.png" alt="LinkedIn">
            </div>
        </div>
    </div>
    
    </footer>

    <!-- Script de Bootstrap (jQuery y Popper.js) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-buv2ZR7UpB3ZU8V+1zAZcI3LOdG2DQpIe+blpEj/5O8Dz87RNX/6beJYFQciG7Dl" crossorigin="anonymous"></script>

  </body>
</html>
