<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/login.css" />
  <title>ToyHub - Login</title>
</head>

<body>

  <%- include('./partials/header.ejs') %>

    <main class="main main-login">
      <form class="form-login" action="/login" method="POST">
        <h1 class="form-title">LOGIN <i class="fa-solid fa-user fa-xl"></i></h1>
        <div class="form-login-groups">
          <div class="form-group">
            <input type="email" id="email" name="email" required />
            <label for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="password" id="contraseña" name="contraseña" required />
            <label for="contraseña">Contraseña</label>
          </div>
        </div>
        <div class="form-help">
          <a class="recover-password" href="#">¿Olvidaste tu contraseña?</a>
          <label for="remember-me">
            Recordarme
            <input type="checkbox" name="remember-me" id="remember-me" />
          </label>
        </div>
        <input type="submit" value="Iniciar Sesion" />
        <div class="buttons-login-option">
          <a>
            <i class="fa-brands fa-google fa-xl"></i> Acceder con Google
          </a>
          <a>
            <i class="fa-brands fa-facebook fa-xl"></i> Acceder con Facebook
          </a>
        </div>
      </form>
      <div class="dont-have-account">
        <p>¿No tienes cuenta?</p>
        <a href="login">Crear Cuenta</a>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>