<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/public/styles/general.css">
    <link rel="stylesheet" href="/public/styles/productCart.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <!-- Seccion del HEADER -->
    <header class="main-header">
      
      <!-- Logo -->
      <div class="logo-container">
        <img src="/public/images/logo_toyhub.jpg" alt="Logo de ToyHub" />
      </div>
      <!-- Menú desplegable - Categorías -->

      <div class="menu-container">
        <button class="btn btn-light menu-btn" onclick="toggleMenu()">
          <img src="/public/images/logos/boton-menu.png" alt="Menú">
        </button>

        <div class="menu-content">
          <!-- Contenido del menu desplegable con secciones -->
          <a href="#section1">Sección 1</a>
          <a href="#section2">Sección 2</a>
          <a href="#section3">Sección 3</a>
        </div>
      </div>
    
      <!-- Barra de busqueda -->

      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="Buscar producto, marca, categoria..." class="form-control search-input">
          <button type="button" class="btn btn-primary search-button">
            <img src="/public/images/logos/search-icon.png" alt="Buscar">
          </button>
        </div>
      </div>
        <!-- Icono de usuario - Mi cuenta -->
        <div class="user-cart-container">
          <a href="/register" class="user-icon">
            <img src="/public/images/logos/user-icon.png" alt="/views/register.html">
          </a>
          <!-- Icono de carrito - Mi carrito -->
          <a href="/productCart" class="cart-icon">
            <img src="/public/images/logos/cart-outline.png" alt="/views/productCart.html">
          </a>
        </div>
    </header>


    <section class="product-section">
      <h1>Tu carrito (4)</h1>
      <h1 class="subrayado">¡Ya tenes envio gratis!</h1>
      <h1>Agrega mas productos y aprovechalo</h1>
    </section>
    <section class="p1">
      <div class="container">
        <div class="FOTO">
          <img src="../public/images/products/p2.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Peluche Pou Batuebos Peluche Alien caqui tamaño mediano ...</p>
            <p class="precio">$818.91</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="../public/images/products/p1.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Peluche Sullivan Monster Inc 27cm Original Pixar</p>
            <p class="precio">$8,358.63</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="../public/images/products/p3.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Figurine Kaname Madoka</p>
            <p class="precio">$57,266.38</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="../public/images/products/p4.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Figura de acción Mafex DC Superman de Anitoy</p>
            <p class="precio">$6,547.59</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="totales">
      <div class="borrarPr">
        <button class="bp">Borrar todos los productos seleccionados</button>
      </div>
      <div class="tp">
        <div>
          <span class="total">TOTAL:</span>
          <span class="importe">75.192,46</span>
        </div>
        <button class="miBot tamañoBotn">SEGUIR COMPRANDO</button> <br />
        <button class="otroBot tamañoBotn">FINALIZAR COMPRA</button>
      </div>
    </section>

    <!-- Seccion del FOOTER -->
    <footer>
      <div class="footer">
        <!-- Contactanos -->
        <div class="contact-container">
            <div class="contact-title">Contactanos</div>
            <div class="email-info">
                <div class="email-icon">
                    <img src="/public/images/logos/mail-outline.png" alt="Correo">     
                  </div>
                <div class="email-text">toyHub@hotmail.com</div>
            </div>
            <div class="phone-info">
                <div class="phone-icon">
                    <img src="/public/images/logos/logo-whatsaap.png" alt="WhatsApp">
                </div>
                <div class="phone-text">0800-555-555-5</div>
            </div>
        </div>

        <!-- Marcas -->
        <div class="brands-container">
            <div class="brands-title">Marcas</div>
            <div class="brands-text">Sega-Bandai-Banpresto-QPosket-Disney-<br/>MegaHouse-Marvel</div>
        </div>

        <!-- Informacion -->
        <div class="info-container">
            <div class="info-title">Informacion</div>
            <div class="info-text">Términos y Condiciones<br/>Políticas de Privacidad<br/>Políticas de Envío<br/>Sucursales</div>
        </div>

        <!-- Servicio al Cliente -->
        <div class="customer-service-container">
            <div class="customer-service-title">Servicio al Cliente</div>
            <div class="customer-service-text">Preguntas Frecuentes<br/>Cambios y Devoluciones<br/>Centro de Ayuda</div>
        </div>

        <!-- Siguenos en -->
        <div class="follow-container">
            <div class="follow-title">Siguenos en</div>
            <div class="social-icons">
                <img src="/public/images/logos/logo-twitter.png" alt="Twitter">
                <img src="/public/images/logos/logo-facebook.png" alt="Facebook">
                <img src="/public/images/logos/logo-instagram.png" alt="Instagram">
                <img src="/public/images/logos/logo-linkedin.png" alt="LinkedIn">
            </div>
        </div>
    </div>
    
    </footer>
  </body>
</html>
