<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/productCart.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

  <%- include('./partials/header.ejs') %>

    <section class="product-section">
      <h1>Tu carrito (4)</h1>
      <h1 class="subrayado">¡Ya tenes envio gratis!</h1>
      <h1>Agrega mas productos y aprovechalo</h1>
    </section>
    <section class="p1">
      <div class="container">
        <div class="FOTO">
          <img src="/images/products/p2.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Peluche Pou Batuebos Peluche Alien caqui tamaño mediano ...</p>
            <p class="precio">$818.91</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="/images/products/p1.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Peluche Sullivan Monster Inc 27cm Original Pixar</p>
            <p class="precio">$8,358.63</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="/images/products/p3.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Figurine Kaname Madoka</p>
            <p class="precio">$57,266.38</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="FOTO">
          <img src="/images/products/p4.webp" alt="producto1" />
        </div>

        <div class="detalle">
          <div class="descripcion">
            <p>Figura de acción Mafex DC Superman de Anitoy</p>
            <p class="precio">$6,547.59</p>
          </div>

          <div class="botones">
            <div class="botonIzq">
              <button>
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
            <div class="botonDer">
              <button>
                <span class="material-symbols-outlined">add</span>
              </button>
              <span class="cantidad"> 5 </span>
              <button>
                <span class="material-symbols-outlined">remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="totales">
      <div class="borrarPr">
        <button class="bp">Borrar todos los productos seleccionados</button>
      </div>
      <div class="tp">
        <div>
          <span class="total">TOTAL:</span>
          <span class="importe">75.192,46</span>
        </div>
        <button class="miBot tamañoBotn">SEGUIR COMPRANDO</button> <br />
        <button class="otroBot tamañoBotn">FINALIZAR COMPRA</button>
      </div>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>

</html>