<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/general.css" />
  <link rel="stylesheet" href="/styles/productCreate.css" />
  <title>ToyHub - Publicar Producto</title>
</head>

<body>
    <%- include('./partials/panelAdmin.ejs') %>
    <!-- Seccion del HEADER -->
    <header class="main-header">
      <!-- Logo -->
      <div class="logo-container">
        <a href="/"><img src="/images/logo_toyhub.jpg" alt="Logo de ToyHub" /></a>
      </div>

      <div class="user-cart-container">
        <div class="user-button">
          <button id="menu-user" class="header-button">
            <img src="/images/logos/user-icon.png" alt="/views/register.html">
          </button>
          <% if(user != undefined) { %>
            <div class="menu-content-user" id="menu-content-user">
              <a href="#" class="user-button">Mi perfil</a>
              <a href="#" class="user-button">Configuracion</a>
              <a href="/user/logout" class="user-button">Cerrar sesión</a>
            </div>
          <% }else{ %>
            <div class="menu-content-user" id="menu-content-user">
              <a href="/user/login" class="user-button">Iniciar sesión</a>
              <a href="/user/register" class="user-button">Registrarse</a>
            </div>
          <% }%>
        </div>
      </div>
    </header>
    <main class='main-product'>
      <form class="form-create" action='/products/admin/create' method='POST' enctype="multipart/form-data">
        <h1 class='product-add-title'>Añadir Producto</h1>
        <div class='product-add-form-group'>
          <label for='name'>Nombre</label>
          <input type='text' id='name' name='name' class='form-control' required />
        </div>
        <div class='product-add-form-group'>
          <label for='price'>Precio</label>
          <input type='number' id='price' name='price' class='form-control' required />
        </div>
        <div class='product-add-form-group'>
          <label for='share'>Cantidad de cuotas</label>
          <input type='number' id='share' name='share' class='form-control' required />
        </div>
        <div class='product-add-form-group'>
          <label for='images'>Selecciona las imagenes del producto</label>

          <div>
            <p>Principal</p>
            <input type='file' id='images' name='images' accept='image/*' class='form-control'/>
            <p>Secundarias</p>
            <input type='file' id='images' name='images' accept='image/*' class='form-control'/>
            <input type='file' id='images' name='images' accept='image/*' class='form-control'/>
            <input type='file' id='images' name='images' accept='image/*' class='form-control'/>
            <input type='file' id='images' name='images' accept='image/*' class='form-control'/>
          </div>
        </div>
        <div class='product-add-form-group'>
          <label for='category'>Categoria</label>
          <select name='category' id='category'>
            <option value='peluches'>Peluches</option>
            <option value='figuras-de-accion'>Figuras de Accion</option>
            <option value='muñecas'>Muñeco/a</option>
            <option value='funko'>Funko-Pop</option>
          </select>
        </div>
        <div class='product-add-form-group'>
          <label for='stock'>Cantidad de producto disponibles</label>
          <input type='text' name='stock' id='stock'>
        </div>
        <div class='product-add-form-group'>
          <label for='brand'>Marca</label>
          <select name='brand' id='brand'>
            <option value='sega'>SEGA</option>
            <option value='bandai'>BANDAI</option>
            <option value='banpresto'>BANPRESTO</option>
            <option value='disney'>DISNEY</option>
            <option value='hasbro'>HASBRO</option>
            <option value='marvel'>MARVEL</option>
            <option value='megahouse'>MEGAHOUSE</option>
            <option value='dc'>DC</option>
          </select>
        </div>
        <div class='product-add-form-group'>
          <label for='description'>Descripcion</label>
          <textarea name='description' id='description' cols='30' rows='10'></textarea>
        </div>
        <div class='product-add-form-actions'>
          <button type='submit' class='btn btn-primary'>Guardar</button>
          <button type='reset' class='btn btn-primary'><a href='/'>Cancelar</a></button>
        </div>
      </form>
    </main>
</body>
<script>
  const btnMenuUser = document.getElementById("menu-user");

  function toggleMenu(menu) {
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

</script>

</html>