<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/productDetail.css" />
  <title>ToyHub - Detalles el Producto</title>
</head>

<body>

  <%- include('./partials/header.ejs') %> 

  <main class="main-product-detail">
    <section class="product-detail-container">
      <div class="presentation-images">
        <figure>
          <img src="images/products/p2.webp" alt="producto1" />
        </figure>
        <div class="miniature-images">
          <img src="images/products/perpetivas-pou/perspectiva1.webp" alt="producto1" />
          <img src="images/products/perpetivas-pou/perspectiva2.webp" alt="producto2" />
          <img src="images/products/perpetivas-pou/perspectiva3.webp" alt="producto3" />
          <img src="images/products/perpetivas-pou/product-pou-material.webp" alt="producto4" />
        </div>
      </div>
      <div class="product-detail">
        <div class="product-detail-top">
          <h2>Peluche Pou</h2>
          <h3>Descripcion</h3>
          <p class="description">
            Pou-muñeco de peluche de 22cm/8,6 pulgadas, juguete de Alien de
            dibujos animados, Kawaii, figura de juego caliente, regalos para
            fanáticos.
          </p>
        </div>
        <div class="product-detail-bottom">
          <div class="product-add-price">
            <div class="product-add">
              <button>
                <i class="fa-solid fa-circle-minus fa-2xl"></i>
              </button>
              <span class="product-count"> 5 </span>
              <button>
                <i class="fa-solid fa-circle-plus fa-2xl"></i>
              </button>
            </div>
            <div class="product-price">
              <p>$818.91</p>
              <p>en 2 cuotas de $407,95</p>
            </div>
          </div>
          <div class="product-detail-buttons">
            <button class="add-button">
              AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i>
            </button>
            <button class="buy-button">
              COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="similar-products-container">
      <h2>Quizas te interesen estos productos</h2>
      <div class="similar-products">
        <div class="product">
          <a class="product-link" href="#">
            <img src="images/products/peluche-de-mickey-y-minnie.webp" alt="imagen de peluche de Mickey y Minnie" />
            <div class="product-info">
              <h3 class="name">Peluches de Mickey y Minnie</h3>
              <p class="price"><strong>ARS</strong>$3.807,88</p>
              <p class="dues">3 cuotas de $1.269,29</p>
            </div>
            <div class="product-button">
              <button class="add">
                AÑADIR AL CARRO
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
              </button>
              <button class="buy">
                COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
              </button>
            </div>
          </a>
        </div>
        <div class="product">
          <a class="product-link" href="#">
            <img src="images/products/Sanrio-Cinnamoroll-mu-eco-de-peluche-de-gran-tama-o-para-ni-os-y-ni-as.jpg_.webp"
              alt="imagen de Sanrio Cinnamoroll-muñeco de peluche de gran tamaño para niños y niñas" />
            <div class="product-info">
              <h3 class="name">Sanrio Cinnamoroll-muñeco de peluche</h3>
              <p class="price"><strong>ARS</strong>$9,334.65</p>
              <p class="dues">4 cuotas de $2.333,66</p>
            </div>
            <div class="product-button">
              <button class="add">
                AÑADIR AL CARRO
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
              </button>
              <button class="buy">
                COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
              </button>
            </div>
          </a>
        </div>
        <div class="product">
          <a class="product-link" href="#">
            <img src="images/products/p1.webp" alt="imagen de peluche de Sullivan - Disney" />
            <div class="product-info">
              <h3 class="name">Peluche de Sullivan - Disney</h3>
              <p class="price"><strong>ARS</strong>$8,358.63</p>
              <p class="dues">4 cuotas de $1.393,10</p>
            </div>
            <div class="product-button">
              <button class="add">
                AÑADIR AL CARRO
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
              </button>
              <button class="buy">
                COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
              </button>
            </div>
          </a>
        </div>
        <div class="product">
          <a class="product-link" href="#">
            <img src="images/products/Trajes-de-mu-ecas-de-43-cm-para-mu-ecas-de-17-pulgadas-mono-de-mono.jpg_.webp"
              alt="imagen de Trajes de muñecas de 43 cm para muñecas de 17 pulgadas mono de mono" />
            <div class="product-info">
              <h3 class="name">Muñeca vestida de Stitch</h3>
              <p class="price"><strong>ARS</strong>$1,630.75</p>
              <p class="dues">2 cuotas de $815,37</p>
            </div>
            <div class="product-button">
              <button class="add">
                AÑADIR AL CARRO
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
              </button>
              <button class="buy">
                COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
              </button>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>

</html>