<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/register.css" />
  <title>ToyHub - Register</title>
</head>

<body>
  
  <%- include('./partials/header.ejs') %>

  <main class="main-register">
    <form action="/registro.html" method="POST">
      <h1>REGISTRATE <i class="fa-solid fa-right-to-bracket fa-xl"></i></h1>
      <p>¡Compra con mas seguridad y lleva el control de tus pedidos!</p>
      <div class="form-register">
        <div class="form-group">
          <input type="text" id="name" name="name" required />
          <label for="name">Nombre</label>
        </div>
        <div class="form-group">
          <input type="text" id="lastName" name="lastName" required />
          <label for="lastName">Apellido</label>
        </div>
        <div class="form-group">
          <input type="email" id="email" name="email" required />
          <label for="email">Email</label>
        </div>
        <div class="form-group">
          <input type="text" id="telephone" name="telephone" required />
          <label for="telephone">Telefono(opcional)</label>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" required />
          <label for="password">Contraseña</label>
        </div>
        <div class="form-group">
          <input type="password" id="confirm-password" name="confirm-password" required />
          <label for="confirm-password">Confirmar Contraseña</label>
        </div>
      </div>
      <input type="submit" value="Crear cuenta" />
    </form>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>

</html>