<!-- Seccion del FOOTER -->
<footer>
  <div class="footer">
    <!-- Contactanos -->
    <div class="contact-container">
      <div class="contact-title">Contactanos</div>
      <div class="email-info">
        <div class="email-icon">
          <img src="/images/logos/mail-outline.png" alt="Correo">
        </div>
        <div class="email-text">toyHub@hotmail.com</div>
      </div>
      <div class="phone-info">
        <div class="phone-icon">
          <img src="/images/logos/logo-whatsaap.png" alt="WhatsApp">
        </div>
        <div class="phone-text">0800-555-555-5</div>
      </div>
    </div>

    <!-- Marcas -->
    <div class="brands-container">
      <div class="brands-title">Marcas</div>
      <div class="brands-text">Sega-Bandai-Banpresto-QPosket-Disney-<br />MegaHouse-Marvel</div>
    </div>

    <!-- Informacion -->
    <div class="info-container">
      <div class="info-title">Informacion</div>
      <div class="info-text">Términos y Condiciones<br />Políticas de Privacidad<br />Políticas de Envío<br />Sucursales
      </div>
    </div>

    <!-- Servicio al Cliente -->
    <div class="customer-service-container">
      <div class="customer-service-title">Servicio al Cliente</div>
      <div class="customer-service-text">Preguntas Frecuentes<br />Cambios y Devoluciones<br />Centro de Ayuda</div>
    </div>

    <!-- Siguenos en -->
    <div class="follow-container">
      <div class="follow-title">Siguenos en</div>
      <div class="social-icons">
        <img src="/images/logos/logo-twitter.png" alt="Twitter">
        <img src="/images/logos/logo-facebook.png" alt="Facebook">
        <img src="/images/logos/logo-instagram.png" alt="Instagram">
        <img src="/images/logos/logo-linkedin.png" alt="LinkedIn">
      </div>
    </div>
  </div>

</footer>