<!-- Seccion del FOOTER -->
<footer class="footer">
  <div class="footer-top">
    <!-- Contactanos -->
    <div class="contact-container container">
      <h3 class="contact-title title">Contactanos</h3>
      <ul class="contact-list list">
        <li>
          <img class="email-icon" src="/images/logos/mail-outline.png" alt="Correo">
          <div class="email-text">toyHub@hotmail.com</div>
        </li>
        <li>
          <img class="phone-icon" src="/images/logos/logo-whatsaap.png" alt="WhatsApp">
          <div class="phone-text">0800-555-555-5</div>
        </li>
      </ul>
    </div>

    <!-- Marcas -->
    <div class="container brands-container container">
      <h3 class="brands-title title">Marcas</h3>
      <ul class="brands-list list">
        <li>Sega</li>
        <li>Bandai</li>
        <li>Banpresto</li>
        <li>QPosket</li>
        <li>Disney</li>
        <li>MegaHouse</li>
        <li>Marvel</li>
      </ul>
    </div>

    <!-- Informacion -->
    <div class="info-container container">
      <h3 class="info-title title">Informacion</h3>
      <ul class="info-list list">
        <li>Términos y Condiciones</li>
        <li>Políticas de Privacidad</li>
        <li>Políticas de Envío</li>
        <li>Sucursales</li>
      </ul>
    </div>

    <!-- Servicio al Cliente -->
    <div class="customer-service-container container">
      <h3 class="customer-service-title title">Servicio al Cliente</h3>
      <ul class="customer-service-list list">
        <li>Preguntas Frecuentes</li>
        <li>Cambios y Devoluciones</li>
        <li>Centro de Ayuda</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <!-- Siguenos en -->
    <div class="follow-icons-container container">
      <img src="/images/logos/logo-twitter.png" alt="Twitter">
      <img src="/images/logos/logo-facebook.png" alt="Facebook">
      <img src="/images/logos/logo-instagram.png" alt="Instagram">
      <img src="/images/logos/logo-linkedin.png" alt="LinkedIn">
    </div>
    <div class="footer-copyright container">
      <p>©2024 toyHub. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>