<!-- Seccion del HEADER -->
<header class="main-header">
      
  <!-- Logo -->
  <div class="logo-container">
    <a href="/"><img src="/images/logo_toyhub.jpg" alt="Logo de ToyHub" /></a>
  </div>
  <!-- Menú desplegable - Categorías -->

  <div class="menu-container">
    <button class="btn btn-light menu-btn" onclick="toggleMenu()">
      <img src="/images/logos/boton-menu.png" alt="Menú" />
    </button>

    <div class="menu-content">
      <!-- Contenido del menu desplegable con secciones -->
      <a href="#section1">Sección 1</a>
      <a href="#section2">Sección 2</a>
      <a href="#section3">Sección 3</a>
    </div>
  </div>
  <!-- Barra de busqueda -->
  <div class="search-container">
    <div class="search-bar">
      <input type="text" placeholder="Buscar producto, marca, categoria..." class="form-control search-input">
      <button type="button" class="btn btn-primary search-button">
        <img src="/images/logos/search-icon.png" alt="Buscar">
      </button>
    </div>
  </div>
    <!-- Icono de usuario - Mi cuenta -->
    <div class="user-cart-container">
      <a href="/user/login" class="user-icon">
        <img src="/images/logos/user-icon.png" alt="/views/register.html">
      </a>
      <a href="/user/register" class="user-icon">
        <img src="/images/logos/user-icon.png" alt="/views/register.html">
      </a>
      <!-- Icono de carrito - Mi carrito -->
      <a href="/products/cart" class="cart-icon">
        <img src="/images/logos/cart-outline.png" alt="/views/cart.html">
      </a>
    </div>
</header>