<!-- Seccion del HEADER -->
<header class="main-header">
  <!-- Logo -->
  <div class="logo-container">
    <a href="/"><img src="/images/logo_toyhub.jpg" alt="Logo de ToyHub" /></a>
  </div>
  <!-- Menú desplegable - Categorías -->
  <div class="menu-container">
    <button id="menu-burger" class="header-button">
      <img src="/images/logos/boton-menu.png" alt="Menú" />
    </button>
    <div class="menu-content" id="menu-content">
      <!-- Contenido del menu desplegable con secciones -->
      <a href="#section1">Figuras de accion</a>
      <a href="#section2">Muñecas</a>
      <a href="#section3">Funko-Pop</a>
      <a href="#section4">Peluches</a>
    </div>
  </div>

  <div class="user-cart-container">
    <div class="menu-content-query">
      <!-- Contenido del menu desplegable con secciones -->
      <a href="#section1">Figuras de accion</a>
      <a href="#section2">Muñecas</a>
      <a href="#section3">Funko-Pop</a>
      <a href="#section4">Peluches</a>
    </div>
    <div class="user-button">
      <button id="menu-user" class="header-button">
        <img src="/images/logos/user-icon.png" alt="/views/register.html">
      </button>
      <% if(isLogged.userLogged) { %>
        <div class="menu-content-user" id="menu-content-user">
          <a href="#" class="user-button">Mi perfil</a>
          <a href="#" class="user-button">Configuracion</a>
          <a href="/user/logout" class="user-button">Cerrar sesión</a>
        </div>
      <% }else{ %>
        <div class="menu-content-user" id="menu-content-user">
          <a href="/user/login" class="user-button">Iniciar sesión</a>
          <a href="/user/register" class="user-button">Registrarse</a>
        </div>
      <% }%>
    </div>

    <button class="header-button">
      <a href="/products/cart" class="cart-icon">
        <img src="/images/logos/cart-outline.png" alt="/views/cart.html">
      </a>
    </button>
    <button class="header-button">
      <img src="/images/logos/search-icon.png" alt="search-icon">
    </button>
  </div>
</header>

<script>
  // Función para desplegar el menú hamburgesa
  const btnMenuBurger = document.getElementById("menu-burger");
  const btnMenuUser = document.getElementById("menu-user");

  function toggleMenu(menu) {
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

  btnMenuBurger.addEventListener("click", () => {
    let menu = document.getElementById("menu-content");
    toggleMenu(menu);     
  });

  // Función para desplegar el menú de usuario
  btnMenuUser.addEventListener("click", () => {
    let menu = document.getElementById("menu-content-user");
    toggleMenu(menu);
  });
</script>