<div class="admin-options">
  <a href="/">Home</a>
  <a href="/products/admin/allproducts">Administrar productos</a>
  <a href="/products/admin/create">Añadir producto</a>
  <a href="/products/admin/categories">Administrar categorías</a>
  <a href="/products/admin/users">Administrar usuarios</a>
</div>

<style>
  .admin-options {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    z-index: 1000;
  }

  .admin-options a {
    background-color: aqua;
    width: 200px;
    display: block;
    padding: 10px;
    margin: 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    top: 40%;
  }
</style>