<div class="admin-options">
  <a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a>
  <a href="/products/admin/allproducts"><i class="fa-solid fa-box-archive"></i><span>Administrar productos</span></a>
  <a href="/products/admin/create"><i class="fa-solid fa-boxes-packing"></i><span>Añadir producto</span></a>
  <a href="/products/admin/categories"><i class="fa-solid fa-copyright"></i><span>Administrar marcas</span></a>
  <a href="/products/admin/users"><i class="fa-solid fa-users"></i><span>Administrar usuarios</span></a>
</div>

<style>
  .admin-options {
    position: fixed;
    width: 40px;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    z-index: 1000;
  }
  
  .admin-options a {
    background-color: aqua;
    width: 40px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin: 10px;
    color: #000;
    text-decoration: none;
    position: relative;
    top: 40%;
    left: 0;
    text-align: center;
  }

  .admin-options a span{
    display: block;
    position: absolute;
    width: 200px;
    top: 5px;
    left: 45px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    transition: all ease .3s;
  }

  .admin-options a:hover span{
    background-color: aqua;
  }
</style>