@font-face {
  font-family: 'Comic Sans MS';
  src: url('../font/COMIC.TTF') format('truetype');
}

:root{
  --color-background: #DDE7FC;
  --color-white: #FFFFFF;
  --color-light-50:#f0f4fe;
  --color-blue-dark-950:#1b2150;
  --color-red-600:#ED1515;
  --color-red-ligth-300:#FFC5C5;
  --color-red-dark-950:#4b0404;
  --color-lightblue-500:#4773EA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', sans-serif;
}

body{
  background-color: var(--color-background);
}

header, main, footer{
  max-width: 1200px;
  margin: auto;
}


.main-header {
  background-color: #FF3232;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-container img {
  max-width: 20%;
  border: 1px solid black;
}

/* Ajustes para el menú desplegable */
.logo-container,
.menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  font-size: 1.5em;
  color: #FFF3F1;
  background-color: #FF3232;
  border: none;
}

/* Estilos para el contenido del menú desplegable */
.menu-content {
  display: none;
  background-color: #FF3232;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu-content a {
  padding: 12px;
  display: block;
  text-decoration: none;
  color: #FFF3F1;
}

/* Estilos para la barra de búsqueda */
.search-container {
  text-align: center;
  width: 40%; /* Ajusta según tus necesidades */
}

.search-bar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  
}

.search-input {
  flex: 1;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #FFF3F1;
}

.search-button {
  position: absolute;
  right: 0;
  padding: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

/* Icono de usuario - Mi cuenta y Carrito - Mi carrito */
.user-cart-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-cart-container a {
  color: #FFF3F1;
  font-size: 1.2em;
}

.admin-button{
  text-decoration: none;
  background-color: #1ade55;
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.admin-button:hover{
  background-color: #25b751;
  transform: scale(1.1);
}

/*----------SECCION DEL FOOTER----------*/
.footer {
  width: 100%;
  background: #1B2150;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0; 
  gap: 10px;
  padding: 12px;
}

/* Estilos compartidos para los elementos de texto */
.footer div {
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  word-wrap: break-word;
}


.contact-container,
.brands-container,
.info-container,
.customer-service-container,
.follow-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.contact-title,
.brands-title,
.info-title,
.customer-service-title,
.follow-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; 
    text-align: center;
}


.brands-text,
.info-text,
.customer-service-text {
    font-size: 14px;
    font-weight: 400;
    align-items: flex-start;
    
}
.email-info,
.phone-info {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.email-icon,
.phone-icon {
  margin-right: 10px; 
}

/* Redes sociales */

.social-icons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.social-icons img {
  width: 30px; 
}
/* Media query para pantallas con un ancho max de dispositivos moviles */
@media (max-width: 600px) {
  .footer {
    flex-direction: column; 
    align-items: center;
  }

  .contact-container,
  .brands-container,
  .info-container,
  .customer-service-container,
  .follow-container {
    align-items: center; 
    text-align: center;
  }
}