@font-face {
  font-family: 'Comic Sans MS';
  src: url('../font/COMIC.TTF') format('truetype');
}

:root{
  --color-background: #DDE7FC;
  --color-white: #FFFFFF;
  --color-light-50:#f0f4fe;
  --color-blue-dark-950:#1b2150;
  --color-red-600:#ED1515;
  --color-red-700:#d11212;
  --color-red-ligth-300:#FFC5C5;
  --color-red-dark-950:#4b0404;
  --color-lightblue-500:#4773EA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', sans-serif;
}

body{
  background-color: var(--color-background);
}

main{
  max-width: 1200px;
  margin: auto;
}


.main-header {
  background-color: #FF3232;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

/* Logo */
.logo-container img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.menu-container {
  display: flex;
  gap: 20px;
  position: relative;

  & .header-button{
    width: 40px;
    height: 40px;
    background-color: var(--color-red-700);
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease; 
  
    &:hover{
      background-color: var(--color-red-600);
    }
  }

  & .menu-content{
    display: none;
    background-color: var(--color-background);
    position: absolute;
    top: 50px;
    right: -200%;
    width: 200px;
    padding: 10px;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    & a{
      display: block;
      text-decoration: none;
      color: var(--color-blue-dark-950);
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      transition: background 0.3s ease;

      &:hover{
        background-color: var(--color-lightblue-500);
        color: var(--color-white);
      }
    }
  }
}

.user-cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .header-button{
    width: 40px;
    height: 40px;
    background-color: var(--color-red-700);
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease; 
  
    &:hover{
      background-color: var(--color-red-600);
    }

    & .cart-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      
      & img{
        width: 30px;
        height: 30px;
      }
    
    }
  }

  .user-button{
    display: flex;
    gap: 20px;
    position: relative;
    
    & .header-button img{
      width: 30px;
      height: 30px;
    }

    & .menu-content-user{
      display: none;
      background-color: var(--color-background);
      position: absolute;
      top: 50px;
      right: -200%;
      width: 200px;
      padding: 10px;
      border-radius: 12px;
      z-index: 2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      & a{
        display: block;
        text-decoration: none;
        color: var(--color-blue-dark-950);
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        transition: background 0.3s ease;
  
        &:hover{
          background-color: var(--color-lightblue-500);
          color: var(--color-white);
        }
      }
    }
  }
}

.menu-content-query{
  display: none;   
}

/* Ajustes para el menú desplegable */

.admin-button{
  text-decoration: none;
  background-color: #1ade55;
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;

  &:hover{
    background-color: #25b751;
    transform: scale(1.1);
  }
}

/*----------SECCION DEL FOOTER----------*/
.footer {
  width: 100%;
  background: var(--color-blue-dark-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 12px; 
  gap: 10px;
  color: var(--color-light-50);
  font-size: 1em;

  & .footer-top,
  & .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & .container{
      text-align: center;

      & .title{
        font-size: 1.15em;
      }

      & .list{
        font-size: 1em;
        font-weight: lighter;
        list-style: none;
      }

      & .contact-list li{
        display: flex;
        align-items: center;
        justify-content: center;

        & img{
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }

    & .follow-icons-container{
      margin-top: 20px;

      & img{
        width: 24px;
        height: 24px;
        transition: 0.3s;
        cursor: pointer;
  
        &:hover{
          transform: scale(1.1);
        }
      }
    }

    & .footer-copyright p{
      font-size: 1em;
      font-family: sans-serif;
    }
  }
}

.button-return{
  display: inline;
  text-decoration: none;
  background-color: var(--color-blue-dark-950);
  color: var(--color-white);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;

  &:hover{
    background-color: var(--color-lightblue-500);
  }
}

/* estilo de para mensaje de error de formularios*/
.form-group .error-message{
  display: inline-block;
  width: 250px;
  color: var(--color-red-600);
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  bottom: 5px;
  left: calc(100% - 250px);
  background-color: var(--color-red-ligth-300);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  animation: shake 0.5s ease-in-out 0.2s 1 normal forwards;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

@media (min-width: 1024px){
  main{
    padding-top: 80px;
  }

  .menu-container{
    display: none;
  }
  .menu-content-query{
    display: block;
    & a{
      text-decoration: none;
      color: var(--color-light-50);
      padding: 10px;
      font-size: 1em;
      border-radius: 12px;
      transition: background 0.3s ease;

      &:hover{
        background-color: var(--color-red-600);
        color: var(--color-white);
      }
    }
  }
  .footer{
    & .footer-top{
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
      
      & .container{
        text-align: left;

        & .title{
          text-align:left;
        }
  
        & .contact-list li{
          justify-content: flex-start;
        }
      }
    }
  }
}