
/*----------SECCION DEL HEADER----------*/
/* Logo */
.logo-container img {
  max-width: 20%;
  border: 1px solid black;
}

.main-header {
  background-color: #FF3232;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Ajustes para el menú desplegable */
.logo-container,
.menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  font-size: 1.5em;
  color: #FFF3F1;
  background-color: #FF3232;
  border: none;
}

/* Estilos para el contenido del menú desplegable */
.menu-content {
  display: none;
  background-color: #FF3232;
  position: absolute;
  top: 100%;
  left: 0;
}

.menu-content a {
  padding: 12px;
  display: block;
  text-decoration: none;
  color: #FFF3F1;
}

/* Estilos para la barra de búsqueda */
.search-container {
  text-align: center;
  width: 40%; /* Ajusta según tus necesidades */
}

.search-bar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  
}

.search-input {
  flex: 1;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #FFF3F1;
}

.search-button {
  position: absolute;
  right: 0;
  padding: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

/* Icono de usuario - Mi cuenta y Carrito - Mi carrito */
.user-cart-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-cart-container a {
  color: #FFF3F1;
  font-size: 1.5em;
}

.main-login{
  max-width: 1024px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  background-color: var(--color-light-50);
  padding: 15px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form h1{
  margin-bottom: 15px;
  color: var(--color-blue-dark-950);
}

form input[type="submit"]{
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  outline: none;
  background-color: var(--color-red-600);
  color: var(--color-white);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease .3s;
}

form input[type="submit"]:hover{
  background-color: var(--color-red-dark-950);
}

.form-register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-register .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-blue-dark-950);
  font-weight: bold;
  position: relative;
  margin: 5px 0;
}

.form-register .form-group input{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  outline: none;
}

.form-register .form-group input:focus{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.form-register .form-group label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  color: var(--color-blue-dark-950);
  transition: top ease .3s, left ease .3s, padding ease .3s, margin ease .3s, font-size ease .3s, background-color ease .3s, color ease .3s;
}

.form-register .form-group input:focus + label{
  top: -10px;
  left: -10px;
  padding: 5px;
  margin: 0;
  font-size: 0.8em;
  background-color: var(--color-lightblue-500);
  color: var(--color-white);
  border-radius: 8px;
}

.form-register .form-group input:valid + label{
  top: -10px;
  left: -10px;
  padding: 5px;
  margin: 0;
  font-size: 0.8em;
  background-color: var(--color-lightblue-500);
  color: var(--color-white);
  border-radius: 8px;
}

.form-register .form-group input:valid{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

form .form-help{
  width: 100%;
  margin: 12px 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}	

form .form-help a{
  color: var(--color-lightblue-500);
  text-decoration: underline;
  transition: color ease .3s;
}

form .form-help a:hover{
  color: var(--color-red-600);
}

form .form-help label{
  color: var(--color-blue-dark-950);
}

form .buttons-login-option{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 0;
}

form .buttons-login-option a{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  outline: none;
  background-color: var(--color-white);
  color: var(--color-blue-dark-950);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease .3s;
  text-align: center;
}

form .buttons-login-option a:hover{
  background-color: var(--color-lightblue-500);
  color: var(--color-white);
}

.register{
  width: 90%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  border: 1px solid var(--color-blue-dark-950);
  border-radius: 8px;
}

.register a{
  background-color: var(--color-blue-dark-950);
  color: var(--color-light-50);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: color ease .3s;
}

.register a:hover{
  background-color: var(--color-lightblue-500);
}

@media (min-width: 768px){
  .main-login{
    height: 100vh;
  }

  form{
    width: 60%;
  }

  form h1{
    font-size: 1.5em;
  }

  form input[type="submit"]{
    width: 150px;
    font-size: 1.2em;
  }

  .register{
    width: 60%;
  }

  .register a{
    padding: 15px;
  }
}

@media (min-width: 1024px){
  .main-login{
    height: 100vh;
  }

  form{
    width: 70%;
  }

  form h1{
    font-size: 2em;
  }

  form input[type="submit"]{
    width: 150px;
    font-size: 1.2em;
  }

  form .form-help{
    font-size: 1em;
  }

  form .buttons-login-option a{
    font-size: 1.2em;
  }

  .register{
    width: 70%;
  }

  form .form-register .form-group label{
    font-size: 1em;
  }

  form .form-register .form-group input{
    font-size: 1.2em;
  }

  form .form-register .form-group input:focus + label{
    font-size: 1em;
  }

  form .form-register .form-group input:valid + label{
    font-size: 1em;
  }
}



/*----------SECCION DEL FOOTER----------*/
.footer {
  width: 100%;
  background: #1B2150;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0; 
}

/* Estilos compartidos para los elementos de texto */
.footer div {
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  word-wrap: break-word;
}


.contact-container,
.brands-container,
.info-container,
.customer-service-container,
.follow-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.contact-title,
.brands-title,
.info-title,
.customer-service-title,
.follow-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px; 
    text-align: center;
}


.brands-text,
.info-text,
.customer-service-text {
    font-size: 14px;
    font-weight: 400;
    align-items: flex-start;
    
}
.email-info,
.phone-info {
  display: flex;
  align-items: flex-start; 
}

.email-icon,
.phone-icon {
  margin-right: 10px; 
}

/* Redes sociales */
.social-icons img {
  width: 30px; 
  margin-right: 10px; 
}
/* Media query para pantallas con un ancho max de dispositivos moviles */
@media (max-width: 600px) {
  .footer {
    flex-direction: column; 
    align-items: center;
  }

  .contact-container,
  .brands-container,
  .info-container,
  .customer-service-container,
  .follow-container {
    align-items: center; 
    text-align: center;
  }
}