.main-product-detail{
  max-width: 1024px;
  margin: auto;
  padding: 15px;
}

.product-detail-container{
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  margin: auto;
}

.product-detail-container .presentation-images{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.presentation-images figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.presentation-images figure img{
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.presentation-images .miniature-images{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.presentation-images .miniature-images img{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.presentation-images img:hover{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.product-detail .product-detail-top {
  color: var(--color-blue-dark-950);
}

.product-detail .product-detail-top h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-detail .product-detail-top p{
  font-size: 1em;
  margin-bottom: 10px;
}

.product-detail .product-detail-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.product-detail-bottom .product-add-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.product-add-price .product-add{
  background-color: var(--color-background);
  padding: 3px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.product-add-price .product-add button{
  background-color: var(--color-blue-dark-950);
  color: var(--color-white);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.product-add-price .product-add span{
  font-size: 1em;
  color: var(--color-blue-dark-950);
  font-weight: 600;
}

.product-add-price .product-add button:hover{
  background-color: var(--color-lightblue-500);
}

.product-add-price .product-price p:first-child{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-red-600);
}

.product-add-price .product-price p:nth-child(2){
  font-size: 1em;
  color: var(--color-lightblue-500);
}

.product-detail-bottom .product-detail-buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-detail-buttons button{
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.product-detail-buttons .add-button{
  background-color: var(--color-lightblue-500);
  color: var(--color-white);
}

.product-detail-buttons .add-button:hover{
  background-color: var(--color-white);
  outline: var(--color-lightblue-500) solid 1px;
  color: var(--color-lightblue-500);
}

.product-detail-buttons .buy-button{
  background-color: var(--color-blue-dark-950);
  color: var(--color-white);
}

.product-detail-buttons .buy-button:hover{
  background-color: var(--color-white);
  outline: var(--color-blue-dark-950) solid 1px;
  color: var(--color-blue-dark-950);
}

.similar-products-container{
  margin-top: 12px;
}

.similar-products-container h2{
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.similar-products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.similar-products .product {
  width: 200px;
  padding: 8px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.similar-products .product .product-link {
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.similar-products .product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.similar-products .product .product-link .product-info .name{
  font-size: 1em;
  color: var(--color-blue-dark-950);
}

.similar-products .product .product-link .product-info .price{
  font-size: 1.2em;
  color: var(--color-red-600);
}

.similar-products .product .product-link .product-info .dues{
  font-size: 0.8em;
  color: var(--color-lightblue-500);
}

.similar-products .product .product-link .product-button{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.similar-products .product .product-link .product-button button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease 0.3s;
  color: var(--color-white);
}

.similar-products .product .product-link .product-button button.add{
  background-color: var(--color-lightblue-500);
}

.similar-products .product .product-link .product-button button.add:hover{
  background-color: #2e4fc7;
}

.similar-products .product .product-link .product-button button.buy{
  background-color: var(--color-blue-dark-950);
}

.similar-products .product .product-link .product-button button.buy:hover{
  background-color: var(--color-text-light-50);
  color: var(--color-blue-dark-950);
  outline: 1px solid var(--color-blue-dark-950);
}

@media (min-width: 768px){

  .presentation-images figure{
    width: 80%;
  }

  .presentation-images .miniature-images img{
    width: 80px;
    height: 80px;
  }

  .product-add-price .product-price p:first-child{
    font-size: 1.9em;
  }

  .product-detail-bottom .product-detail-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .product-detail-buttons button{
    margin-bottom: 0;
    width: 50%;
  }

  .similar-products {
    justify-content: space-between;
  }
}

@media (min-width: 1024px){
  .product-detail-container{
    flex-direction: row;
  }

  .presentation-images figure{
    width: 90%;
  }

  
  .product-detail{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-detail .product-detail-bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .product-detail .product-detail-bottom .product-add-price{
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }

  .product-detail-bottom .product-detail-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .product-detail-buttons button{
    width: 100%;
  }
}