.body-register{
  background-image: url('../images/backgrounds/background-register.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.main-register{
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register{
  background-color: var(--color-light-50);
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register h1{
  font-size: 1.2em;
}

.register h1, p{
  margin-bottom: 15px;
  color: var(--color-blue-dark-950);
}

.register input[type="submit"]{
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  outline: none;
  background-color: var(--color-red-600);
  color: var(--color-white);
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease .3s;

  &:hover{
    background-color: var(--color-red-700);
  }
}

.register p{
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.form-group-register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group-register .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-blue-dark-950);
  font-weight: bold;
  position: relative;
  margin: 5px 0;

  & .form-group-image{
    position: relative;
  }
}

.form-group-register .form-group input{
  width: 100%;
  padding: 10px;
  margin: 5px 3px;
  font-size: 0.8em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  outline: none;
}

.form-group-register .form-group input:focus{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.form-group-register .form-group .form-group-label{
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 5px;
  margin: 0;
  font-size: 0.7em;
  background-color: var(--color-lightblue-500);
  color: var(--color-white);
  border-radius: 8px;
}

.form-group-register .form-group--image{
  position: relative;
  display: inline-block;
}

.form-group-register .form-group--image::before {
  background-color: var(--color-blue-dark-950);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  content: 'Seleccionar';
  position: absolute;
  width: 200px;
  height: 32px;
  top: 10px;
  left: calc(68% - 100px);
}

.form-group-register #src-file::before {
  content: 'Seleccionar Archivo';
}

.form-group-register .form-group--image input[type="file"] {
  opacity: 0;
  display: inline-block;
  cursor: pointer;
}

.form-group-register .form-group--image .form-group-image-preview{
  border: 3px dashed var(--color-blue-dark-950);
  border-radius: 8px;
  padding: 5px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px){
  .main-register{
    height: 100%;
  }

  .register{
    width: 60%;
  }

  .form-group-register .form-group--image::before {
    left: calc(50% - 100px);
  }
}

@media (min-width: 1024px){
  .register{
    width: 70%;
  }

  .register h1{
    font-size: 1.4em;
  }

  .register p{
    font-size: 1em;
  }

  .register input[type="submit"]{
    width: 140px;
    font-size: 1em;
  }

}